[submodule "CobraVerifier"]
	path = CobraVerifier
	url = https://github.com/DBCobra/CobraVerifier.git
[submodule "CobraBench"]
	path = CobraBench
	url = https://github.com/DBCobra/CobraBench.git
[submodule "CobraVerifierV2"]
	path = CobraVerifierV2
	url = https://github.com/sky12hi12/CobraVerifierV2.git
